aside{
    position: fixed;
    display: none;
    flex-direction: column;
    align-items: center;
    width: 30%;
    height: 100%;
    top: 104px;
    background-color: rgba(55, 56, 103, 0.1);
    z-index: 3;
}
aside form{
    padding: 15px;
}
aside input{
    width: 236px;
    height: 30.49px;
    border-radius: 3.418px;
    background: url(../assets/search-logo.png) #FFFFFF no-repeat right;
    background-size: 20px;
}
.aside-menu-title{
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
}
aside ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 130px;
}
aside ul li{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 46px;
    width: 142px;
    border-bottom: 1px solid #000;
}
aside ul li a{
    text-align: center;
    color: #479679;
    font-size: 16px;
    text-decoration: none;
}
aside ul button{
    padding: 0;
    border: none;
    background: none;
    font: inherit;
    outline: inherit;
}
aside img{
    width: 60px;
    height: 67.12px;
}
aside p{
    padding: 10px;
    font-size: 11px;
    line-height: 13px;
    text-align: center;
    color: black;
}
@media(min-width: 768px){
    aside{
        display: flex;
        max-width: 320px;
    }
}