.welcome-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 150px 20px 20px 20px;
    background: linear-gradient(180deg, rgba(198, 226, 230, 0.6399) 1.57%, rgba(88, 151, 159, 0.2212) 19.27%,
    rgba(71, 147, 129, 0.1343) 35.94%, rgba(165, 207, 187, 0.1027) 58.33%, rgba(255, 255, 255, 0) 83.85%);
    filter: blur(0.25px);
}
.welcome-section img{
    width: 255px;
    height: 139px;
    padding: 20px;
}
.welcome-section p{
    margin-top: 62px;
    margin-bottom: 100px;
    line-height: 21px;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}
.welcome-box{
    display: flex;
    justify-content: center;
    margin-top: 25px;
    width: 241px;
    height: 63px;
    background: linear-gradient(0deg, rgba(170, 206, 155, 0.53), rgba(170, 206, 155, 0.53));
    border: 0.2rem solid #94a08f;
    border-radius: 20px;
}
.welcome-box h2{
    margin: 0;
    line-height: 58px;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 400;
    font-size: 49px;
    color: #373867;
}
.welcome-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.aplications-features h3{
    line-height: 16px;
    font-weight: 700;
    font-size: 14px;
    text-align: center;
}
.aplications-features div{
    display: flex;
    justify-content: space-around;
    margin: 10%;
    text-align: center;
}
.aplications-features img{
    width: 104px;
    height: 104px;
    padding: 12px;
    background-color: #aace9b4d;
    border-radius: 20px;
}
.why-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
}
.why-items{
    width: 25%;
}
.img-background{
    display: flex;
    justify-content: center;
    width: 95px;
    transform: rotate(45deg);
    background: rgba(170, 206, 155, 0.3);
}
.why-container h3{
    line-height: 22px;
    font-size: 18px;
    font-weight: 700;
    text-align: left;
}
.why-items-text {
    width: 65%;
}
.why-items img{
    height: 78px;
    width: 90px;
    padding: 8px;
    transform: rotate(315deg);
}
.inscription h2{
    text-decoration: underline;
}
.form-inscr{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 70px;
}
.input-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.input-box input{
    width: 80%;
    margin: 10px;
    height: 37px;
    border: 1px solid #373867;
    border-radius: 4px;
}
.contact{
    height: 33px;
    width: 80%;
    border: 1px solid #373867;
    border-radius: 4px;
}
.checks-box{
    display: flex;
    justify-content: space-around;
    padding: 15px;
}
.form-check{
    display: flex;
}
.form-check label{
    line-height: 14px;
    font-size: 12px;
    color: #000000;
}
.form-inscr p{
    line-height: 21px;
    font-family: 'K2D';
    font-weight: 800;
    color: #000000;
}
.enter-text{
    height: 350px;
    width: 90%;
    resize: none;
    border-radius: 4px;
}
.send-form{
    margin-top: 20px;
    padding: 10px 15px;
    background-color: #479679;
    border: none;
    color: #000;
}
.company-mission{
    background: linear-gradient(180deg, rgba(222, 239, 241, 0.79) 0%, rgba(222, 239, 240, 0.79) 18.75%,
    rgba(229, 242, 244, 0.79) 35.94%, rgba(203, 228, 216, 0.1027) 58.33%, rgba(255, 255, 255, 0) 83.85%);
}
.mission-title-img{
    display: flex;
    justify-content: space-between;
}
.company-mission img{
    width: 98px;
    height: 110px;
}
.subtitle{
    align-items: center;
    padding: 20px;
    line-height: 36px;
    font-weight: 700;
    font-size: 30px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    text-decoration: underline;
}
.quote{
    line-height: 67px;
    font-style: italic;
    font-weight: 600;
    text-align: center;
    color: #151515;
}
.our-mission-text{
    line-height: 26px;
    padding: 10px;
    font-size: 12px;
    text-align: center;
    color: #1C1C37;
}
.second-mission-subtitle{
    margin-top: 43px;
    line-height: 23px;
    font-weight: 600;
    text-align: center;
    font-size: 20px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #373867;
}
.box-text-commentary{
    height: 110px;
    margin-top: 20px;
    background: rgba(217, 217, 217, 0.2);
    border-radius: 5.98712px;
}
.box-text-commentary p{
    padding: 20px 0 0 11px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.8);
    text-align: center;
    font-style: italic;
}
.about-box{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about-box h2{
    text-align: left;
}
.about-box p{
    line-height: 26px;
    padding: 10px;
}
.about-box img{
    width: 298.42px;
    height: 207.86px;
    padding: 10px;
    filter: drop-shadow(0px 3.99923px 4.99904px rgba(0, 0, 0, 0.25));
}
.products-box{
    display: flex;
    flex-direction: column;
}
.products-box img{
    width: 333px;
    height: 246px;
}
.products-box article{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.products-box h3{
    font-weight: 700;
}
.products-box ul, p{
    padding: 20px;
    text-align: left;
}
.products-box ul li{
    list-style-type: circle;
    list-style-position: inside;
}
.company-box article{
    padding: 20px;
}
.company-box img{
    width: 235px;
    height: 139px;
    border: 0.178402px solid #000000;
    filter: drop-shadow(0px 2.03889px 1.01944px rgba(0, 0, 0, 0.25));
}
.company-box h3{
    line-height: 19px;
    font-weight: 700;
    font-size: 16px;
}
.company-box p{
    line-height: 16px;
}
.company-box-article-2{
    align-items: flex-end;
    text-align: right;
}
.support article{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.support p{
    text-align: center;
}
.support img{
    width: 296px;
    height: 195px;
    padding: 20px;
    filter: drop-shadow(0px 2.71722px 1.35861px rgba(0, 0, 0, 0.25));
}
.tutorials article{
    display: flex;
    flex-direction: column;
    color: #000;
}
.tutorials h2{
    text-align: left;
    font-style: italic;
    color: #000;
}
.tutorials ol{
    padding: 30px;
    line-height: 23px;
    list-style: decimal;
    font-style: italic;    
    font-weight: 700;
    font-size: 19px;
}
.list-videos li div{
    display: flex;
    justify-content: space-between;
}
.list-videos span{
    color: #1D22EC;
}
.youtube-bt{
    display: flex;
    justify-content: center;
    padding: 10px;
}
.youtube-bt button{
    width: 80%;
    height: 116px;
    background: #98220D;
    box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}
.youtube-bt button a{
    line-height: 31px;
    font-family: 'Inter', sans-serif;    
    font-style: italic;
    font-weight: 700;
    font-size: 26px;
    text-decoration: none;
    color: #FFFFFF;
}
@media(min-width: 768px){
    main{
        margin-left: min(30%, 320px);
        width: max(70%, (100% - 320px));
    }
    .input-box{
        display: flex;
        flex-direction: row;
    }
}
@media(min-width: 1200px){
    .products-box{
        flex-wrap: wrap;
        height: 900px;
        width: 50%;
    }
    .welcome-content{
        display: flex;
        flex-direction: row-reverse;
    }
    .products-box-article-two{
        order: 1;
    }
    .about-box{
        flex-direction: row;
    }
    .support{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .support article{
        width: 30%;
    }
    .container-general-why{
        display: flex;
        flex-wrap: wrap;
    }
    .why-container{
        width: 40%;
    }
}