<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/login.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/aside.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
    <script src="../javascript/login.js"></script>
    <title>Trackgenix Login</title>
</head>
<body> 
    <header>    
        <div class="header-container">
            <img src="../assets/radium-logo.png" alt="Logo" class="logo">            
            <h1>
                Trackgenix
            </h1>       
            <img src="../assets/hamburguer-menu.png" alt="hamburguer-menu" class="hamburguer">
        </div>
    </header>
    <aside> 
        <form>
            <input type="text" id="search" name="search" placeholder="Search">
        </form>
        <p class="aside-menu-title">
            Menu
        </p>
        <ul>
            <li>
                <button><a href="../views/index.html">Home</a></button>
            </li>
            <li>
                <button><a href="../views/sing-up.html">SingUp</a></button>
            </li>
            <li>
                <button><a href="../views/login.html">Login</a></button>
            </li>
            <li>
                <button><a href="#">Contact Information</a></button>
            </li>
        </ul>
        <img src="../assets/radium-logo.png" alt="logo">
        <p>
            Developed by GigaTech Software Solutions S.A.
        </p>
    </aside>
    <main>
        <div class="form-container">
            <form>
                <p class="form-title">
                    Sing In
                </p>
                <fieldset class="login-inputs">
                    <label for="email-input">Email</label>
                    <input type="text" placeholder="Email" id="email-input">
                </fieldset>
                <fieldset class="login-inputs">
                    <label for="password-input">Password</label>
                    <input type="password" placeholder="Password" id="password-input">
                </fieldset>
                <fieldset>
                    <a href="">Forgot Password?</a>
                </fieldset>
                <fieldset class="dont-have-account">
                    <p>
                        Don´t have an account?
                    </p>
                    <a href="../views/sing-up.html">Sing Up</a>
                </fieldset>
                <fieldset>
                    <button class="login-btn" id="login-button">
                        Login
                    </button>
                </fieldset>
            </form>
        </div>
    </main>
    <footer>
        <div class="social-links">
            <a href="https://www.facebook.com"><img src="../assets/fb.svg" 
            alt="fb logo"></a>
            <a href="https://www.twitter.com"><img src="../assets/twitter.svg" 
            alt="tw logo"></a>
            <a href="https://www.instagram.com"><img src="../assets/insta-logo.png" 
            alt="int logo"></a>
            <a href="https://www.linkedin.com"><img src="../assets/linkdin.svg" 
            alt="link logo"></a>
        </div>
        <div class="copyright">
            <p>
                Rosario Argentina
            </p>
            <p>
                Copyright © 2022 GigaTech Software Solutions. All rights reserved.
            </p>
        </div>
    </footer>
</body>
</html>