<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/login.css">
    <link rel="stylesheet" href="../css/sing-up.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/aside.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
    <script src="../javascript/sing-up.js"></script>
    <title>Trackgenix Sing Up</title>
</head>
<body>
    <header>
        <div class="header-container">
            <img src="../assets/radium-logo.png" alt="Logo" class="logo">            
            <h1>
                Trackgenix 
            </h1>       
            <img src="../assets/hamburguer-menu.png" alt="hamburguer-menu" class="hamburguer">
        </div>
    </header>
    <aside> 
        <form>
            <input type="text" id="search" name="search" placeholder="Search">
        </form>
        <p class="aside-menu-title">
            Menu
        </p>
        <ul>
            <li>
                <button><a href="../views/index.html">Home</a></button>
            </li>
            <li>
                <button><a href="../views/sing-up.html">SingUp</a></button>
            </li>
            <li>
                <button><a href="../views/login.html">Login</a></button>
            </li>
            <li>
                <button><a href="#">Contact Information</a></button>
            </li>
        </ul>
        <img src="../assets/radium-logo.png" alt="logo">
        <p>
            Developed by GigaTech Software Solutions S.A.
        </p>
    </aside>
    <main>
        <div class="form-container">
            <form>
                <p class="sing-up-title">
                    Sing-Up
                </p>
                <fieldset>
                    <label for="name">Name</label>
                    <input type="text" id="name" placeholder="Name">
                </fieldset>
                <fieldset>
                    <label for="lastName">Last Name</label>
                    <input type="text" id="lastName" placeholder="Last Name">
                </fieldset>
                <fieldset>
                    <label for="dni">DNI</label>
                    <input type="text" id="dni" placeholder="DNI">
                </fieldset>
                <fieldset>
                    <label for="date">Date of Birth</label>
                    <input type="date" id="date">
                </fieldset>
                <fieldset>
                    <label for="phone">Phone Number</label>
                    <input type="text" id="phone" placeholder="Phone">
                </fieldset>
                <fieldset>
                    <label for="adress">Adress</label>
                    <input type="text" id="adress" placeholder="Adress">
                </fieldset>
                <fieldset>
                    <label for="location">Location</label>
                    <input type="text" id="location" placeholder="Location">
                </fieldset>
                <fieldset>
                    <label for="postalCode">Postal Code</label>
                    <input type="text" id="postalCode" placeholder="Postal Code">
                </fieldset>
                <fieldset>
                    <label for="email">Email</label>
                    <input type="text" id="email" placeholder="Email">
                </fieldset>
                <fieldset>
                    <label for="password">Password</label>
                    <input type="password" id="password" placeholder="Password">
                </fieldset>
                <fieldset>
                    <label for="re-password">Repeat Password</label>
                    <input type="password" id="re-password" placeholder="Password">
                </fieldset>
                <fieldset class="have-account">
                    <p>
                        Allready have an account?
                    </p>
                    <a href="../views/login.html">Login</a>
                </fieldset>
                <fieldset>
                    <button class="sing-up-btn" id="sing-up-btn">
                        Sing Up
                    </button>
                </fieldset>
            </form>
        </div>
    </main>
    <footer>
        <div class="social-links">
            <a href="https://www.facebook.com"><img src="../assets/fb.svg" 
            alt="fb logo"></a>
            <a href="https://www.twitter.com"><img src="../assets/twitter.svg" 
            alt="tw logo"></a>
            <a href="https://www.instagram.com"><img src="../assets/insta-logo.png" 
            alt="int logo"></a>
            <a href="https://www.linkedin.com"><img src="../assets/linkdin.svg" 
            alt="link logo"></a>
        </div>
        <div class="copyright">
            <p>
                Rosario Argentina
            </p>
            <p>
                Copyright © 2022 GigaTech Software Solutions. All rights reserved.
            </p>
        </div>
    </footer>
</body>
</html>