main{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100vh;
}
.form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 450px;
    margin: 1rem;
    padding: 2rem;
    background-color: rgba(185, 185, 185, 0.8);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    border-radius: 2px;
}
.form-title{
    padding: 20px;
    font-size: 25px;
}
fieldset{
    padding: 10px;
}
.login-inputs{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.dont-have-account{
    display: flex;
}
.login-btn{
    height: 50px;
    width: 50%;
    padding: 1rem 2rem;
    border-radius: 15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
    background: #AACE9B;
    color: white;
}
.green-border{
    border: 2px solid green;
}
.red-border{
    border: 2px solid red;
}
.mensage-error{
    color: red;
}
