main{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 200vh;
}
.form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 850px;
    width: 450px;
    margin: 1rem;
    padding: 2rem;
    background-color: rgba(185, 185, 185, 0.8);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    border-radius: 2px;
}
.have-account a{
    text-decoration: underline;
}
.have-account a:hover{
    color: blue;
}
fieldset{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}
.sing-up-title{
    text-align: center;
    padding: 20px;
    font-size: 25px;
}
.sing-up-btn{
    height: 70px;
    width: 90%;
    padding: 1rem 2rem;
    border-radius: 15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
    background: #AACE9B;
    color: white;
}
.sing-up-btn:hover{
    background-color: green;
}
.green-border{
    border: 2px solid green;
}
.red-border{
    border: 2px solid red;
}
.mensage-error{
    font-size: 12px;
    color: red;
}