/* HEADER */
@font-face {
    font-family:Roboto;
    src: url(https://fonts.google.com/specimen/Roboto?query=roboto);
}
body{
    overflow-x: hidden;
    /* height: 100%; */
}
header{
    display: inline;
    width: 1512px;
    height: 91px;
    position: fixed;
    z-index: 10px;
    background-color: #373867;
}
h1{
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #46A07B;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 70px;
    text-align:center;
    position: absolute;
    width: 366px;
    height: 70px;
    left: 573px;
    top: 9px;
}
.logohead {
    position: absolute;
    width: 65px;
    height: 67px;
    left: 26px;
    top: 12px;
}
nav {
    box-sizing: border-box;
    top: 88px;
    float: right;
    position: relative;
    width: 1259px;
    height: 55px;
    background-color: #373867;
}
nav ul {
    list-style-type: none;
    width: 100%;
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}
nav ul li {
    width: 180px;
    height: 55px;
    display: inline;
    float: left;
    border: none;
    box-sizing: border-box;
    border: 0px ;
}
nav ul li button {
    width: 180px;
    height: 55px;    
    border: none;
    background-color: #373867;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
}
nav ul li button a{
    font-family: 'Roboto';
    font-style: normal;
    text-align: center;
    font-weight: 400px;
    font-size: 20px;
    color: #46A07B;
    text-decoration: none;
}

/* ASIDE */

aside{
    position: fixed;
    width: 253px;
    height: 100%;
    left: 0;
    top: 30px;
    background-color: rgba(55, 56, 103, 0.1);
    z-index: 6px;
}
aside input{
    position: relative;
    top: 82px;
    left: 6px;
    width: 236px;
    height: 30.49px;
    background: #FFFFFF;
    border-radius: 3.418px;
}
aside h2{
    position: absolute;
    width: 50px;
    height: 23px;
    left: 92px;
    top: 130px;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 19.3686px;
    line-height: 23px;
    color: #373867;
}
aside ul{
    margin: 141px 45px 0;
}
aside ul li{
    width: 142px;
    height: 46px;
    border-bottom: 1px solid #000;
}
aside ul li a{
    position: relative;
    top: 15px;
    color: #479679;
    text-decoration: none;
    font-size: 16px;
}
aside ul button{
    position: absolute;
    width: 141.55px;
    height: 39.86px;
    left: 46px;
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    outline: inherit;
}
aside img{
    position: absolute;
    width: 66px;
    height: 75px;
    left: 95px;
    top: 609px;
}
aside p{
    position: absolute;
    width: 232px;
    height: 13px;
    left: 12px;
    top: 710px;
    font-family:'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    color: black;
}

/* MAIN */

main{
    position: relative;
    width: 1259px;
    height: 9399px;
    left: 253px;
    top: 88px;
    z-index: 1px;
}
main section{
    position: relative;
}
.welcome-box{
    box-sizing: border-box;
    position: absolute;
    width: 307px;
    height: 81px;
    left: 474px;
    top: 103px;
    background: rgba(170, 206, 155, 0.53);
    font-family: 'roboto';
    border: 2px solid #000000;
    filter: blur(4px);
    border-radius: 20px;
}
.welcome-title{
    position: absolute;
    width: 235px;
    height: 58px;
    left: 512px;
    top: 113px;
    font-family:'Roboto';
    text-transform: uppercase;
    font-style: normal;
    font-weight: 400;
    font-size: 49.3617px;
    line-height: 58px;
    color: #373867;
}
.welcome-section{
    position: relative;
    margin: auto;
    display: inline-block;
    width: 1512px;
    padding: 300px;
}
.welcome-text{
    position: absolute;
    width: 546px;
    left: 0px;
    padding: 20px;
}
.welcome-image{
    position: absolute;
    width: 546px;
    padding: 20px;
    left: 600px;
}
.code-img{
    width: 500px;
    height: 272.52px;
}
.welcome-p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 28.8453px;
    line-height: 41px;
    left: 134px;
}
.aplications-features article{
    display: inline-block;
    width: 592px;
    height: 350px;
    text-align: center;
}
.aplications-features h2{
    margin: 0px 0px 49px 100px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #373867;
}
.aplications-features article img{
    padding: 12px;
    width: 221px;
    height: 221px;
    left: 0px;
    top: 1166px;
    background-color: #aace9b4d;
    border-radius: 20px;
}
.aplications-features article h3{
    margin-bottom: 24px;
    font-family:'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    color: #373867;
}
.why-trackgenix article{
    display: inline-block;
    margin: 50px 0 0 90px;
    width: 500px;
    text-align: center;
}
.why-trackgenix h2{
    margin: 0 0 0 296px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #373867;
}
.why-trackgenix h3{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    color: #373867;
}
.why-trackgenix p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #373867;
}
.why-trackgenix img{
    width: 118px;
    height: 118px;
    float: left;
    background-color: #aace9b4d;
}
.inscription{
    position: relative;
    top: 47px;
    left: 74px;
}
.inscription h2{
    left: 76px;
    font-family:'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    text-decoration: underline;
}
.form-inscr{
    display: block;
    top: 70px;
    left: 83px;
}
.form-inscr input{
    width: 554px;
    height: 37px;
    border: 1px solid #373867;
    border-radius: 4px;
}
#contact{
    width: 1128px;
    height: 37px;
    top: 20px;
    left: 83px;
    border-radius: 1px solid #373867;
}
#check1 text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    color: #000000;
}
#check2 text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    color: #000000;
}

.form-inscr p{
    font-family: 'K2D';
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 21px;
    align-items: center;
    color: #000000;

}
#enter-text{
    height: 323px;
    width: 1116px;
    left: 0px;
    top: 80px;
    border-radius: 4px;
}
.send-form{
    background-color: #479679;
    color: #000;
    padding: 10px 15px;
    border: none;
}
.company-mission{
    position: relative;
}
#company-title{
    display: inline-block;
    width: 195px;
    height: 30px;
    margin: 80px 825px 29px 56px;
    font-weight: 700px;
    font-weight: 700;
    font-family: 'Roboto';
    font-size: 20.5273px;
    line-height: 24px;
    color: #000000;
    text-decoration: underline;
}
.company-mission img{
    display: inline-block;
    width: 112px;
    height: 128px;
    top: 40px;
}
.logo-company{
    display: inline-block;
    width: 112px;
    height: 128px;
    top: 40px;
}
.h3-1{
    display: inline;
    width: 819px;
    height: 45px;
    left: 61px;
    top: 29px;
    font-weight: 700;
    font-size: 30.8px;
    line-height: 36px;
    align-items: center;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #373867;
}
.p1{
    width: 535px;
    height: 45px;
    margin-left: 385px;
    margin-top: 20px;
    font-style: italic;
    font-weight: 600;
    font-size: 22px;
    line-height: 67px;
    text-align: center;
    color: #151515;
}
.p2{
    top: 29px;
    margin-left: 32px;
    font-weight: 400;
    font-size: 18.75px;
    line-height: 26px;
    text-align: center;
    color: #1C1C37;
}
.h3-2{
    width: 609px;
    height: 43px;
    margin-left: 61px;
    margin-top: 43px;
    font-weight: 600;
    font-size: 27.37px;
    line-height: 32px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #373867;
}
.box-text{
    width: 1156px;
    height: 81px;
    margin-left: 85px;
    margin-top: 20px;
    background: rgba(217, 217, 217, 0.2);
    border-radius: 5.98712px;
}
.p3{
    width: 1134px;
    height: 21px;
    padding: 20px 0 0 11px;
    color: rgba(0, 0, 0, 0.8);
    font-style: italic;
    font-weight: 400;
    font-size: 17.25px;
    line-height: 20px;
}
.about-box h2{
    width: 116px;
    height: 29px;
    margin: 88px 0 0 61px;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #373867;
}
.about-box p{
    display: inline-block;
    width: 769px;
    margin: 40px 0 0 49px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    color: #373867;
}
.about-box img{
    width: 363px;
    height: 251px;
    left: 862px;
    top: 4680px;
}
.our-products{
    position: relative;
    top: 95px;
    height: 1376px;
}
.our-products h2{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px; 
    color: #000000;
    text-decoration: underline;
}
.our-products article{
    position: relative;
    display: inline-block;
    width: 40%;
    text-align: center;
}
.our-products img{
    width: 384px;
    height: 284px;
    left: 110px;
    top: 5209px;
    padding: 12px;
}
.our-products h3{
    margin: 0 0 24px 135px;
    width: 324px;
    height: 60px;
    font-size: 24.4762px;
    line-height: 30px;
    text-align: start;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 21.3846px;
    line-height: 26px;
    color: #000000;
}
.our-products p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 19.581px;
    line-height: 24px;
    color: #000000;
}
.our-products ul li{
    width: 324px;
    padding-left: 165px;
    height: 20px;
    text-align: start;
    font-family: 'Inter';
    font-style: normal;
    list-style-type: circle;
    list-style-position: inside;
    font-weight: 400;
    font-size: 14.6857px;
    line-height: 18px;
    color: #000000;

}
.company{
    position: relative;
    top: 49px;
    font-family: 'Inter';
    font-style: normal;
    color: #000;
}
.company article{
    width: 592px;
    height: 350px;
    margin-left: 64px;
}
.company h2{
    margin: 0 0 94px 100px;
    font-weight: 700;
    font-size: 30px;
    text-decoration: underline;
}
.company h3{
    position: absolute;
    display: inline-block;
    margin: 18px 0 0 24px;
    font-size: 26px;
    line-height: 31px;
}
.company img{
    width: 477px;
    height: 304px;
}
.support{
    position: relative;
    top: 126px;
    left: 50px;
}
.support h2{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #000000;
    text-decoration: underline;
}
.support article{
    display: inline-block;
    width: 592px;
    top: 50px;
    text-align: center;
}
.support img{
    width: 505px;
    height: 282px;
}
.support p{
    position: absolute;
    margin: 0 0 0 92px;
    width: 448px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 23px;
    line-height: 28px;
    text-align: center;
    color: #000000;
}
.tutorials{
    position: relative;
    width: 1000px;
    top: 224px;
    left: 94px;
}
.tutorials h2{
    height: 27px;
    margin: 74px 0 0 0; 
    font-family: 'Inter';
    font-style: italic;
    font-weight: 700;
    font-size: 34px;
    line-height: 41px;
    color: #000000;
}
.tutorials ol{
    margin: 49px 0 0 105px;
    list-style: decimal;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
}
.youtube-bt{
    width: 480px;
    height: 116px;
    margin: 143px 0 0 389px;
}
.youtube-bt button{
    width: 480px;
    height: 116px;
    background: #98220D;
    box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}
.youtube-bt button a{
    font-family: 'Inter';
    font-style: italic;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    color: #FFFFFF;
    text-decoration: none;
}
/* FOOTER */

footer{
    display: block;
    text-align: center;
}
footer .social-links{
    margin: 391px 0 0 253px;
    width: 1259px;
    height: 74px;
    background: #373867;
}
footer .social-links a{
    padding: 80px;
}
footer p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
}