header{
    background-color: #373867;
    position: relative;
    width: 1512px;
    left: 0px;
    top: 0px;
    height: 91px;
}
h1{
    text-transform: uppercase;
    color: #46A07B;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 60px;
    font-weight: 700px;
    text-align:center;
    position: absolute;
    width: 100%;
    top: 9px;
    
}
.logohead {
    position: absolute;
    width: 65px;
    height: 67px;
    left: 26px;
    top: 12px;
}

.MainMenu{
    list-style: none;
    justify-content: space-between;
    padding: 0 24px;
}

nav{
    position: fixed;
    width: 100%;
    height: 55px;
    top: 91px;
    left: 253px;
    z-index: 1;
}
.main-menu li{
    /*display: inline-block;*/
    width: 210px;
    height: 55px;
    padding-top: 5px;
    float: left;
    background-color: #373867;
    text-align: center;
}