header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px;
    height: 91px;
    background-color: #373867;
    border: 1px solid #000;
    z-index: 3;
}
h1{
    color: #46A07B;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
}
#navbar{
    
}
@media(max-width: 768px) {
    nav{
        display: none;
    }
    
}


