header{
    position: fixed;
    width: 100%;
    padding: 6px;
    height: 91px;
    background-color: #373867;
    border: 1px solid #000;
    z-index: 3;
}
.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
h1{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    color: #46A07B;
}
nav{
    display: none;
    position: fixed;
    right: 0;
    margin-left: min(30%, 320px);
    width: max(70%, (100% - 320px));
    top: 100px;
    background-color: #373867
}
nav ul{
    display: flex;
    width: 100%;
    border: none;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    list-style-type: none;
}
nav ul li{
    display: flex;
    width: 16.5%;
    border: none;
    border: 0px ;
}
nav ul li button{
    width: 180px;
    height: 55px;
    border: none;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    background-color: #373867;
}
nav ul li button a{
    text-align: center;
    font-weight: 400px;
    font-size: 13px;
    color: #46A07B;
    text-decoration: none;
}
@media(min-width: 769px) {
    h1{
        font-size: 60px;
    }
    .hamburguer {
        visibility: hidden;
    }
    nav{
        display: flex;
    }
}