main{
    width: 100%;
    z-index: 1;
}
.welcome-box{
    display: flex;
    justify-content: center;
    margin-top: 25px;
    width: 241px;
    height: 63px;
    background: linear-gradient(0deg, rgba(170, 206, 155, 0.53), rgba(170, 206, 155, 0.53));
    border: 0.2rem solid #94a08f;
    filter: blur(4px);
    border-radius: 20px;
}
.welcome-box h2{
    margin: 0;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 400;
    font-size: 49px;
    line-height: 58px;
    color: #373867;
}
.welcome-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, rgba(198, 226, 230, 0.6399) 1.57%, rgba(88, 151, 159, 0.2212) 19.27%, rgba(71, 147, 129, 0.1343) 35.94%, rgba(165, 207, 187, 0.1027) 58.33%, rgba(255, 255, 255, 0) 83.85%);
    filter: blur(0.25px);
}
.welcome-section img{
    width: 255px;
    height: 139px;
    padding: 20px;
}
.welcome-section p{
    margin-top: 62px;
    margin-bottom: 100px;
    font-weight: 400;
    font-size: 20px;
    line-height: 21px;
    text-align: center;
}
.aplications-features h3{
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
}
.aplications-features div{
    display: flex;
    text-align: center;
    justify-content: space-around;
    margin: 10%;
}
.aplications-features img{
    width: 104px;
    height: 104px;
    padding: 12px;
    background-color: #aace9b4d;
    border-radius: 20px;
}
.why-container{
    width: 80%;
    margin: 66px;
    display: flex;
    justify-content: space-between;
}
.why-items{
    display: flex;
    flex-direction: column;
}
.why-container h3{
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    text-align: center;
}
.why-items img{
    width: 77px;
    height: 78px;
}
.inscription h2{
    text-decoration: underline;
}
.form-inscr{
    margin-bottom: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-inscr input{
    width: 80%;
    height: 37px;
    border: 1px solid #373867;
    border-radius: 4px;
}
.form-inputs{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
}
#contact{
    width: 80%;
    border: 1px solid #373867;
    border-radius: 4px;
}
.form-check{
    display: flex;

}
.form-check label{
    font-size: 12px;
    line-height: 14px;
    color: #000000;
}
.form-inscr p{
    font-family: 'K2D';
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 21px;
    align-items: center;
    color: #000000;
}
#enter-text{
    height: 80%;
    top: 80px;
    border-radius: 4px;
}
.send-form{
    padding: 0;
    background-color: #479679;
    color: #000;
    padding: 10px 15px;
    border: none;
}
.company-mission{
    background: linear-gradient(180deg, rgba(222, 239, 241, 0.79) 0%, rgba(222, 239, 240, 0.79) 18.75%, rgba(229, 242, 244, 0.79) 35.94%, rgba(203, 228, 216, 0.1027) 58.33%, rgba(255, 255, 255, 0) 83.85%);
}
.mission-title-img{
    display: flex;
    justify-content: space-between;
}
#company-title{
    width: 195px;
    height: 30px;
    font-size: 20.5273px;
    color: #000000;
    text-decoration: underline;
}
.company-mission img{
    width: 98px;
    height: 110px;
}
.h3-1{
    font-weight: 700;
    font-size: 30.8px;
    line-height: 36px;
    align-items: center;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    text-decoration: underline;
}
.p1{
    font-style: italic;
    font-weight: 600;
    line-height: 67px;
    text-align: center;
    color: #151515;
}
.p2{
    font-size: 12px;
    line-height: 26px;
    text-align: center;
    color: #1C1C37;
}
.h3-2{
    margin-top: 43px;
    font-weight: 600;
    text-align: center;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #373867;
}
.box-text{
    height: 110px;
    margin-top: 20px;
    background: rgba(217, 217, 217, 0.2);
    border-radius: 5.98712px;
}
.p3{
    height: 21px;
    padding: 20px 0 0 11px;
    color: rgba(0, 0, 0, 0.8);
    text-align: center;
    font-style: italic;
    font-weight: 400;
    font-size: 17.25px;
    line-height: 20px;
}
.about-box{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about-box p{
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;
}
.about-box img{
    width: 298.42px;
    height: 207.86px;
}
.products-box{
    display: flex;
    flex-direction: column;
}
.products-box img{
    width: 333px;
    height: 246px;
}
.products-box article{
    text-align: center;
}
.products-box h3{
    font-weight: 700;
}
.products-box p{
    text-align: left;
}
.products-box ul{
    text-align: left;
}
.products-box ul li{
    list-style-type: circle;
    list-style-position: inside;
}