html{
    font-family: 'Roboto', sans-serif;
    font-size: normal;
    color: #373867;
}
html, body{
    overflow-x: hidden;
}
a{
    color: #373867;
    text-decoration: none;
}
main section{
    border-bottom: 2px solid #000;
}
h2{
    margin-top: 72px;
    margin-bottom: 52px;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    color: #373867;
    line-height: 21px;
}
.logo{
    width: 58.66px;
    height: 67px;
}